= form_for :reading, url: readings_path, html: { method: :post } do |reading|
  .list-block
    %ul
      %li.item-content
        .item-title.label Chapter
        .item-inner
          .item-input
            = text_field_tag "fragment", nil, class: 'col-md-12', type: 'text', placeholder: 'Which message did you complete reading?'
  .list-block
    %ul
      %li
        = reading.submit "Post Reading!", class: "button button-fill color-blue"
    .text-info E.g. 1 Cor 1, or Matt 12
