.content-block-title Group Details
.list-block
  %ul
    %li.item-content
      .item-inner
        .item-title= @group.name
        .item-after Name
    %li.item-content
      .item-inner
        .item-title= @group.score
        .item-after Score