/ Bottom Toolbar
.toolbar.tabbar.bottom
  .toolbar-inner
    %a.tab-link{:href => new_reading_path}
      = image_tag "icons/white/features.png", alt: ''
    %a.tab-link{:href => dashboard_readings_path}
      = image_tag "icons/white/gallery.png", alt: ''
    %a.tab-link{:href => readings_path}
      = image_tag "icons/white/blog.png", alt: ''
    %a.tab-link{:href => my_group_path}
      = image_tag "icons/white/home.png", alt: ''      
