/ Bottom Toolbar
.toolbar.tabbar.bottom
  .toolbar-inner
    %a.tab-link{:href => new_reading_path}
      %i.f7-icons.color-white book_fill
    %a.tab-link{:href => dashboard_readings_path}
      %i.f7-icons.color-white home_fill
    %a.tab-link{:href => readings_path}
      %i.f7-icons.color-white book
    %a.tab-link{:href => my_group_path}
      %i.f7-icons.color-white person_fill      
