.navbar
  .navbar-inner
    .left 
      %a.link.open-panel{"data-panel" => "left", :href => "#"}
        %i.icon.icon-bars.color-white
    .center= yield :page_title
    .right
      %a.link{:href => "#"}
        %span Back
