- content_for :page_title do
  %i.f7-icons.color-white book_fill
  .right Excellent Believer
.view.view-main
  .pages
    .page
      / page-content has additional login-screen content
      .page-content
        .content-block-title Welcome!
        .content-block
          %p Excellent Believer facilitates reading the Life-Studies in groups. We'd like to encourage everyone to read two Life-Studies of Genesis a week. However if your church has another reading schedule please follow that. If your group is reading the Life-Study of Genesis, don't forget to tag your group with "Genesis"
        .row.content-block
          .col-35
            = link_to new_user_session_path, class: 'button button-big button-red button-fill' do
              Sign in
              %i.f7-icons.color-white arrow_right
