.content-block-title Welcome!
.content-block
  .card
    .card-content
      .card-content-inner
        %p Mauris posuere sit amet metus id venenatis. Ut ante dolor, tempor nec commodo rutrum, varius at sem. Nullam ac nisi non neque ornare pretium. Nulla mauris mauris, consequat et elementum sit amet, egestas sed orci. In hac habitasse platea dictumst.

  .row
    .col-33
      %a.button.button-big.button-red.button-fill{:href => "#"} Sign In
      
